<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="./static/css/owl.carousel.css">
  <link rel="stylesheet" href="./static/css/owl.theme.green.css">
  <script src="./static/js/jquery.min.js"></script>
  <script src="./static/js/owl.carousel.min.js"></script>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
    }
    .searchbar {
      border-radius: 51px;
    height: 45px;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 16px;
    width: 40%;
    border: none;
    }

    .searchbutton {
      position: relative;
      bottom: 0px;
      width: 50px;
      border: none;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
    .popular-content {
      color: #fff;
      text-decoration-line: none;
    }
  </style>
</head>
<body>
  {% for a in wimg %}
  <section class="firstcontainer"
    style="background-image: url({{a.explore.url}}); background-repeat: no-repeat; background-size: 100% 100%;height: 90vh;">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{t.t_name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <u l class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% for i in c %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'blog' %}">{{i.c_name}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'destinationtour' %}">{{i.c2_name}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'about' %}">{{i.c3_name}}</a>
            </li>
            {% endfor %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-magnifying-glass"></i>
              </a>
            </li>
            </ul>
            </li>
            </ul>
        </div>
      </div>
    </nav>

    <h1 style="color: white;display: flex;justify-content: center;margin-top: 131px;font-size: 45px;">Explore</h1>
    <form role="search" action="{% url 'search' %}" style="text-align: center;">
    <input type="search" name="qry" class="searchbar" placeholder="search Albatross Travel">
    <!-- <button type="submit" class="searchbutton"><i class="fa-solid fa-magnifying-glass"></i></button> -->
  </form>
    <!-- <h6 style="color: white;display: flex;justify-content: center;margin-top: 11px;font-size: 13px;">{{c3.c_name}}</h6> -->
  </section>
  {% endfor %}
  <section class="eighthsection">
    <h1 class="titleofpage" data-aos="fade-down">{{h.h5_name}}</h1>
    <div class="row">
      {% for i in ob %}

      <div class="col-md-4">
        <div style="margin: 20px 20px;background-color: rgb(241, 236, 236);border-radius: 5px;"><img
            style="height: 260px;width: 354px;border-radius: 3px;display: block;margin: auto;" src="{{i.img.url}}"
            alt=" ">
          <h3 class="pop-guide-text" style="font-size: x-large;display: block;margin: auto;width: 80%;">{{i.a}}</h3>
          <h6 style="text-align: center;font-size: small;width: 70%;display: block;margin: auto;">{{i.des | safe}}</h6>
          <a href="readmore/{{i.id}}" style="position: relative;top: 20px;"><button class="adventure-button"
              style="height: 40px;background-color:#0B7FA2;border: none;width: 40%;border-radius: 5px;color: #fff;font-weight: bold;display: block;margin: auto;">Read
              More</button></a>
        </div>
      </div>
      {% endfor %}
      <div class="pagination" style="display: block;margin: auto;width: 18%;margin-top: 50px;">
        <span class="step-links">
          {% if ob.has_previous %}
          <a href="?page=1" style="color: black;padding: 8px;text-decoration: none;display: block;margin: auto;">&laquo;
            first</a>
          <a href="?page={{ ob.previous_page_number }}"
            style="color: black;padding: 8px;text-decoration: none;">previous</a>
          {% endif %}

          <span class="current" style="color: black;padding: 8px;text-decoration: none;">
            Page {{ ob.number }} of {{ ob.paginator.num_pages }}.
          </span>

          {% if ob.has_next %}
          <a href="?page={{ ob.next_page_number }}" style="color: black;padding: 8px;text-decoration: none;">next</a>
          <a href="?page={{ ob.paginator.num_pages }}" style="color: black;padding: 8px;text-decoration: none;">last
            &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>

  </section>
  <section class="ninthsection" style="background-color: black;margin-top: 50px;color: #fff;">
    <div class="lastpage" style="display: flex;justify-content: space-evenly;">
      <div class="inner-lastpage">
        {% for i in lapa %}
        <h3 style="margin: 50px;">{{i.L1_name}}</h3>
        {% endfor %}
        {% for i in lapaCon %}
        <h5><a href="" class="popular-content">{{i.l1_name}}</a></h5>
        {% endfor %}
      </div>
      <div class="inner-lastpage">
        {% for i in lapa %}
        <h3 style="margin: 50px;">{{i.L2_name}}</h3>
        {% endfor %}
        {% for i in lapaCon %}
        <h5><a href="" class="popular-content">{{i.l2_name}}</a></h5>
        {% endfor %}
      </div>
      <div class="inner-lastpage">
        {% for i in lapa %}
        <h3 style="margin: 50px;">{{i.L3_name}}</h3>
        {% endfor %}
        {% for i in lapaCon %}
        <h5><a href="" class="popular-content">{{i.l3_name}}</a></h5>
        {% endfor %}
      </div>
    </div>
    <div class="term-social-privacy">
      <div><h6>Ⓒ 2024 We Seek Travel All rights reserved</h6></div>
      <div class="term-social-privacy" style="top: 0%;">
          <div><a href=""><h1><i class="fa-brands fa-instagram"></h1></i></a></div>
          <div><a href=""><h1><i class="fa-brands fa-facebook"></i></h1></a></div>
          <div><a href=""><h1><i class="fa-brands fa-youtube"></i></h1></a></div>
      </div>
      <div><h6><a href="" style="text-decoration-line: none;color: #fff;">Privacy & Disclosures | Terms | Sitemap</a></h6></div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>