<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        *{
            text-decoration-line: none;
        }
        .inner-search-div {
            margin: 20px 20px;
            background-color: rgb(241, 236, 236);
            border-radius: 5px;
            flex-basis: 30%;
        }
        .about-harsh-and-albatross {
            background-color: rgb(233, 230, 230);
            padding: 44px 0;
        }

        .responsive-text {
            text-align: center;
        }

        .heading {
            font-size: xx-large;
            font-weight: bold;
        }

        .paragraph {
            font-size: small;
            margin-top: 10px;
        }
    </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{t.t_name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <u l class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for i in c %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'blog' %}">{{i.c_name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'explore' %}">{{i.c1_name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="{% url 'destinationtour' %}">{{i.c2_name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">{{i.c3_name}}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i
                            class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </li>
                </ul>
                </li>
                </ul>
        </div>
    </div>
</nav>
<section class="about-harsh-and-albatross">
    <div class="responsive-text">
        <h1 class="heading">here is your Search</h1>
        <p class="paragraph"><a href="{% url 'indexpage' %}">Home</a> › search</p>
    </div>
</section>
    <div class="row">
        {% for i in myquery %}
        <div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
            <div class="inner-search-div"><img
                    style="height: 260px;width: 354px;border-radius: 3px;display: block;margin: auto;"
                    src="{{i.img.url}}" alt=" ">
                <h3 class="pop-guide-text" style="text-align: center;">{{i.a}}</h3>
                <h6 style="text-align: center;font-size: small;width: 70%;display: block;margin: auto;">{{i.des | safe}}
                </h6>
                <a href="readmore/{{i.id}}" style="position: relative;top: 20px;"><button class="adventure-button"
                        style="height: 40px;background-color:#0B7FA2;border: none;width: 40%;border-radius: 5px;color: #fff;font-weight: bold;display: block;margin: auto;">Read
                        More</button></a>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>